<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Salary</title>
</head>
<body>

<form th:action="@{/getProvince}">


    compare
    <select name="one.province"><br>
        <option>Antwerp</option>
        <option>Brussels</option>
        <option>Limburg</option>
        <option>East Flanders</option>
        <option>West Flanders</option>
        <option>Flemish Brabant</option>
        <option>Luxembourg</option>
        <option>Hainaut</option>
        <option>Namur</option>
        <option>Liège</option>
        <option>Walloon Brabant</option>
    </select>


    with
    <select name="two.province"><br>
        <option>Antwerp</option>
        <option>Brussels</option>
        <option>Limburg</option>
        <option>East Flanders</option>
        <option>West Flanders</option>
        <option>Flemish Brabant</option>
        <option>Luxembourg</option>
        <option>Hainaut</option>
        <option>Namur</option>
        <option>Liège</option>
        <option>Walloon Brabant</option>
    </select>



    <input type="submit" value="compare">
    <div></div>

    <br>
    <div>
        Average Monthly Net Salary (After Tax) in <cite th:text="${provinceName} "> </cite> is : <cite
            th:text="${province} "></cite> €
    </div>
    <br>


    <div>
        Average Monthly Net Salary (After Tax) in <cite th:text="${provinceName1} "> </cite> is : <cite
            th:text="${province1} "></cite> €
    </div>
    <br>

    <div>
        Average Monthly Net Salary (After Tax) in <cite th:text="${provinceName4} "> </cite> is <cite
            th:text="${compareTwo} "> </cite> % higher then <cite th:text="${provinceName3} "></cite>
    </div>
    <br>

</form>


<h4><a th:href="@{/homePage}"> Click here to go to main page </a></h4>

</body>
</html>