<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Fotoladia</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <link href="../css/default.css" rel="stylesheet"/>

</head>
<body>
<div id="header">
  <h1>    <p class="lead" th:text="#{label.head}"></p>
  </h1>
  <h3><a href="#">    <p class="lead" th:text="#{label.head2}"></p>
  </a></h3>
</div>



<div >

</div>
<div id="content">
  <div id="colOne">

 &nbsp;&nbsp;   <a class="nav-link" href="/?lang=en" th:text="#{label.lang.en}"></a>
    <a class="nav-link" href="/?lang=nl" th:text="#{label.lang.nl}"></a>   &nbsp;&nbsp;&nbsp;&nbsp;  <a class="nav-link active" aria-current="page" href="/login">Log In</a>
    &nbsp;&nbsp;&nbsp;&nbsp;<a th:href="@{/register}">  Register  and Add Salary </a>  &nbsp;&nbsp;&nbsp;
    &nbsp;


    <br/>

    <br/><br/>
    <h2></h2>
    <p class="lead" th:text="#{label.content}"></p>

    <br/>
    <h3><a >        Average Monthly Net Salary (After Tax)	in Belgium is :  <cite href="/?lang=en" th:text="${average} "></cite> €</a></h3>

<br/><br/>
    <a th:href="@{/grossToNet}">  Convert your Gross Salary To Net Salary </a>
    <br/>
<br/>

    <br/>

    <form th:action="@{/getProvince}">


      compare
      <select name="one.province"><br>
        <option>Antwerp</option>
        <option>Brussels</option>
        <option>Limburg</option>
        <option>East Flanders</option>
        <option>West Flanders</option>
        <option>Flemish Brabant</option>
        <option>Luxembourg</option>
        <option>Hainaut</option>
        <option>Namur</option>
        <option>Liège</option>
        <option>Walloon Brabant</option>
      </select>


      with
      <select name="two.province"><br>
        <option>Antwerp</option>
        <option>Brussels</option>
        <option>Limburg</option>
        <option>East Flanders</option>
        <option>West Flanders</option>
        <option>Flemish Brabant</option>
        <option>Luxembourg</option>
        <option>Hainaut</option>
        <option>Namur</option>
        <option>Liège</option>
        <option>Walloon Brabant</option>
      </select>

      &nbsp;&nbsp;

      <input type="submit" value="compare" >
      <div></div>

      * Province comparison is only for members. You have to register and add at least one data

    </form>

    <br/>
    <br/><br/>

    <h3>Most Recently 15  Data   </h3>
    <table class="table table-dark">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Salary</th>
        <th scope="col">Province</th>
        <th scope="col">Sector</th>
        <th scope="col">Date</th>
      </tr>
      </thead>
      <tbody>
      <tr  th:each="salary:${salary}">
        <td th:text="${salary.id}">
        <td th:text="${salary.user.name}">
        <td th:text="${salary.salaryOfUser}">
        <td th:text="${salary.province}">
        <td th:text="${salary.sector}">
        <td th:text="${salary.user.stringDate}">
        </td>
      </tr>

      </tbody>

    </table>



  </div>



  <br> <br>

  <div id="colTwo">


    <ul>

      <li>
        <h2>   <cite></cite>&nbsp;&nbsp;&nbsp; Categories</h2>

        <ul>
          <h2>   <cite></cite>Provinces</h2>
          <li><a th:href="@{/singleProvince/Brussels}"> Brussels </a></li>
          <li><a th:href="@{/singleProvince/Antwerp}"> Antwerp </a></li>
          <li><a th:href="@{/singleProvince/Limburg}"> Limburg </a></li>
          <li><a th:href="@{/singleProvince/East Flanders}"> East Flanders </a></li>
          <li><a th:href="@{/singleProvince/West Flanders}"> West Flanders </a></li>
          <li><a th:href="@{/singleProvince/Flemish Brabant}"> Flemish Brabant </a></li>
          <li><a th:href="@{/singleProvince/Hainaut}"> Walloon Brabant </a></li>
          <li><a th:href="@{/singleProvince/Luxembourg}"> Luxembourg </a></li>
          <li><a th:href="@{/singleProvince/Hainaut}"> Hainaut </a></li>
          <li><a th:href="@{/singleProvince/Namur}"> Namur </a></li>
          <li><a th:href="@{/singleProvince/Liège}"> Liège </a></li>

          <h2>   <cite></cite>Sectors</h2>

          <li><a th:href="@{/singleSector/Public Sector}"> Public Sector </a></li>
          <li><a th:href="@{/singleSector/Private Sector}"> Private Sector </a></li>



        </ul>
      </li>

    </ul>
  </div>
</div>
<br/><br/>
<br/><br/><br/><br/>

<div id="footer"><br/><br/><br/><br/>
  <p>September 14th, 2022  by  <a href="https://emrahyyy.github.io/emrah_yavuz_cv/index.html"><strong>Emrah Yavuz</strong></a></p>
  <br/><br/>
</div>

<br/><br/>

</body>
</html>
